<section class="container-fluid">

  <div class="col-8">
    <form [formGroup]="userForm" class="row" #form="ngForm" name="jobForm">
      <div class="row">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="mail@example.com" formControlName="email"/>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="123456789" formControlName="phoneNumber"/>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Doe" formControlName="lastName"/>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" formControlName="firstName"/>
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>

      </div>
    </form>
  </div>

  <div class="row">
    <div [align]="'start'">
      <button mat-raised-button color="primary" type="submit" class="col-2" [disabled]="!userForm.valid"
              (click)="apply()">Apply
      </button>
    </div>
  </div>

  <!--create row and table with roles and buttons to add and remove role-->

  <div class="row mt-5">
    <div class="col-4">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-1">Role</th>
          <th class="col-1">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let role of userRoles" class="d-table-row col-3">
          <td class="col-2">{{ role }}</td>
          <td class="col-1">
            <button mat-icon-button (click)="removeRole(role)" >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-12">
      <button mat-raised-button color="primary" type="submit" class="col-2" [disabled]="!userForm.valid"
              (click)="addRole()">Add Role
      </button>
    </div>
  </div>
</section>


