<div class="d-flex justify-content-between m-3 h-25">
  <h1 mat-dialog-title class="d-block">Room</h1>
  <button mat-icon-button mat-dialog-close class="m-3">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="form-container">
  <form [formGroup]="roomForm" class="section-detail-form row" #form="ngForm" name="jobForm">
    <div class="row">
      <mat-card-content>

        <div class="row d-flex">
          <div class="col-4">
            <mat-form-field>
              <mat-select class="hotel-toggle" formControlName="hotelId"
                          style="font-size: 14px; width: fit-content; min-width: 150px" required>
                <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">
                  {{ hotel.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>Number</mat-label>
              <input matInput placeholder="101" formControlName="number"/>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>Stage</mat-label>
              <input matInput placeholder="1" type="text" formControlName="stage"/>
            </mat-form-field>
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-4">
            <mat-form-field>
              <mat-label>Base Price</mat-label>
              <input matInput placeholder="0.00" type="number" formControlName="basePrice"/>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>Discount Percent</mat-label>
              <input matInput placeholder="0.0" type="number" formControlName="discountPercent"/>
            </mat-form-field>
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-4">
            <mat-form-field>
              <mat-label>Room Type</mat-label>
              <mat-select formControlName="roomType">
                <mat-option *ngFor="let type of roomTypes" [value]="type.id">
                  {{ type.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>Room Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of roomStatuses" [value]="status.id">
                  {{ status.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field>
              <mat-label>Base Lock URI</mat-label>
              <input matInput placeholder="http://localhost:80" type="text" formControlName="baseLockUri"/>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
    </div>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" type="submit" class="col-2" [disabled]="!roomForm.valid"
          (click)="apply()">Apply
  </button>
</div>
