<div class="d-flex justify-content-between m-3 h-25">
    <h1 mat-dialog-title class="d-block">Staff</h1>
    <button mat-icon-button mat-dialog-close class="m-3">
        <mat-icon>close</mat-icon>
    </button>
</div>

<!-- 
     protected staffForm: FormGroup = this.formBuilder.group({
    firstName: ['', Validators.required],
    lastName: ['', Validators.required],
    secondName: [''],
    userId: [''],
    hotelId: ['', Validators.required],
    position: ['', Validators.required]
  });
   -->

<div mat-dialog-content class="form-container">
    <form [formGroup]="staffForm" class="section-detail-form row" #form="ngForm" name="staffForm">
        <div class="row">
            <mat-card-content>

                <div class="row d-flex">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="John" formControlName="firstName" />
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Doe" formControlName="lastName" />
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Second Name</mat-label>
                            <input matInput placeholder="Smith" formControlName="secondName" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row d-flex">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-select class="hotel-toggle" formControlName="hotelId"
                                style="font-size: 14px; width: fit-content; min-width: 150px" required>
                                <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">
                                    {{ hotel.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field>
                            <mat-select class="hotel-toggle" formControlName="userId"
                                style="font-size: 14px; width: fit-content; min-width: 150px" required>
                                <mat-option *ngFor="let user of users" [value]="user.id">
                                    {{ user.email }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Position</mat-label>
                            <input matInput placeholder="Manager" formControlName="position" />
                        </mat-form-field>
                    </div>
                </div>

            </mat-card-content>
        </div>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" type="submit" class="col-2" [disabled]="!staffForm.valid"
        (click)="apply()">Apply
    </button>
</div>